h1 a {
    color: #001780;
    font-family: 'Lobster';
}

body {
 padding-left: 15px;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 { 
    font-family: 'Lobster', cursive;
}

.date {
    color: #738000;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #008026;
}